---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Marwane El Boumyaoui" description="About Marwane El Boumyaoui Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos de moi"
				tagline="Merci de votre visite. Je vous invite à en apprendre davantage sur moi et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Marwane El Boumyaoui at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Mon parcours</h2>
				<div class="content">
					<p>
						Actuellement étudiant en BUT informatique en deuxième année, j’ai choisi de me spécialiser dans le
						 parcours Développement d’application informatique. Je suis donc à la recherche d’un stage dans
						 le domaine du développement informatique à partir du 14 avril 2025, d'une durée de 8 à 12 semaines
						 afin de renforcer mes compétences en développement informatique.
					</p>
					<br>
					<p>
						Je suis passionné par les technologies web et ai eu l’occasion de travailler sur divers projets, notamment la création de plateformes interacti
						ves et de gestion de contenus multimédias, ainsi que la conception de sites web. Mon parcours m'a permis d’acquérir des 
						compétences solides en PHP, SQL, HTML, CSS et JavaScript, et je suis motivé à approfondir mes connaissances en développement logiciel.
					</p>
					<br>
					<p>
						Je serai ravi de pouvoir discuter plus en détail de ce que je pourrais apporter à votre équipe 
						et de la manière dont ce stage pourrait enrichir mon parcours professionnel.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Ma formation actuelle</h2>
				<div class="content">
					<p>Bachelor universitaire de technologie (DUT) Informatique à l’Université Lyon 1 (2023-2026).</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<ul>
						<li>Développement web : HTML, CSS, JavaScript, PHP, SQL.</li>
						<li>Développement logiciel et mobile : Java, Kotlin, C</li>
						<li>Frameworks : Symfony, Angular, Vue.js, Node.js.</li>
						<li>Outils : Docker, Git, Visual Studio Code.</li>
						<li>Autres notions : modélisation de données (UML, MCD), gestion de projet (Gantt, Notion, Discord).</li>
						<li>Langues : anglais (B2+).</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
